
body:before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}


#video {
  z-index: -99;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 730px) { 
  #video {
  width:100%;
}
}
